root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120
ij_visual_guides = 120

[*.{js,ts,vue,css,json}]
indent_size = 4

[*.{html,xml}]
indent_size = unset

[*.json]
indent_size = 2

[*.java]
ij_java_block_brace_style = end_of_line
ij_java_use_single_class_imports = true

# This ensures IntelliJ actually breaks the line at 120 chars
ij_java_method_parameters_wrap = on_every_item
ij_java_method_parameters_new_line_after_left_paren = true
ij_java_method_parameters_right_paren_on_new_line = true

ij_java_method_call_arguments_wrap = on_every_item

[*.iml]
indent_size = 2

[*.{yaml,yml}]
indent_size = 2

# Tell the CI to stop complaining about the length of the .editorconfig itself
[.editorconfig]
max_line_length = off
