<div class="lg:hidden p-4 ">
    <p-button icon="pi pi-bars" (click)="visible = true" severity="secondary" [text]="true"/>
</div>

<aside class="hidden lg:block h-full w-72">
    <ng-container *ngTemplateOutlet="sidebarContent"></ng-container>
</aside>

<p-drawer [(visible)]="visible">
    <ng-container *ngTemplateOutlet="sidebarContent"></ng-container>
</p-drawer>

<ng-template #sidebarContent>
    <div class="h-full bg-primary sm:m-4 sm:p-8 rounded-xl flex flex-col justify-between">
        <div class="flex flex-col gap-8 items-center text-white font-thin">
            <h1 class="text-4xl animate-[pulse_4s_infinite]">Common Ground</h1>

            <div class="flex flex-col w-full text-2xl gap-2">
                @for (route of generalRoutes; track route.path) {
                    <a (click)="visible = false"
                       [routerLinkActiveOptions]="{ exact: true }"
                       [routerLink]="route.path"
                       class="p-2 rounded transition-all duration-300 hover:bg-primary-400
                       hover:pl-6 no-underline text-white"
                       routerLinkActive="font-bold bg-white/20">
                        <span class="flex items-center gap-2">
                            <i [class]="'pi ' + route.icon"></i>
                            {{ route.title ?? route.path }}
                        </span>
                    </a>
                }
                @if (adminRoutes().length > 0) {
                    <div class="px-3 py-2">
                        <hr class="border-t border-white/70 w-full m-0"/>
                    </div>
                }
                @for (route of adminRoutes(); track route.path) {
                    <a (click)="visible = false"
                       [routerLinkActiveOptions]="{ exact: true }"
                       [routerLink]="route.path"
                       class="p-2 rounded transition-all duration-300 hover:bg-primary-400
                       hover:pl-6 no-underline text-white"
                       routerLinkActive="font-bold bg-white/20">
                        <span class="flex items-center gap-2">
                            <i [class]="'pi ' + route.icon"></i>
                            {{ route.title ?? route.path }}
                        </span>
                    </a>
                }
            </div>
        </div>
        <div class="w-full sm:pb-4">
            <div class="px-3 mb-4">
                <hr class="border-t border-white/70 w-full m-0"/>
            </div>

            <div class="flex items-center justify-between w-full">

                @if (user()) {
                    @let currentUser = user();
                    <a (click)="visible = false" routerLink="/profile">
                        <span class="text-white flex items-center gap-2 text-xl font-medium">
                            <i class="pi pi-user text-3xl whitespace-nowrap font-bold"></i>{{ currentUser?.username }}
                        </span>
                    </a>
                }

                <div>
                    <a (click)="logout()" class="flex items-center">
                        <i class="pi pi-sign-out text-white text-2xl font-thin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</ng-template>
