<div class="px-6 py-20 flex justify-center items-center min-h-screen w-full">
    <div class="bg-surface-0 border border-[#E0E0E0] rounded-3xl
    p-14 w-full max-w-137.5 flex flex-col h-fit mx-auto gap-8">
        <div class="flex flex-col items-center gap-4 w-full">
            <div class="flex flex-col items-center gap-2 w-full">
                <div class="text-surface-900 dark:text-surface-0 text-3xl
                font-semibold leading-tight text-center w-full">
                    Log In
                </div>
                <div class="text-center w-full mt-1">
                    <span class="text-surface-700 dark:text-surface-200 leading-normal">Don't have an account?</span>
                    <a class="text-primary font-medium ml-1 cursor-pointer hover:underline transition-colors"
                        routerLink="/registration">Register!</a>
                </div>
            </div>
        </div>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="flex flex-col gap-6 w-full mt-2">
            <div class="flex flex-col gap-5 w-full">
                <div class="flex flex-col gap-2 w-full">
                    <label class="text-surface-900 dark:text-surface-0 font-medium leading-normal" for="username">
                        Username
                    </label>
                    <input
                        #username="ngModel"
                        [(ngModel)]="request.username"
                        [invalid]="username.invalid && (username.touched || loginForm.submitted)"
                        class="w-full px-3 py-2 shadow-sm rounded-lg"
                        id="username"
                        name="username"
                        pInputText
                        placeholder="Username" required
                    />
                    @if (username.invalid && (username.touched || loginForm.submitted)) {
                        <p-message severity="error" size="small" variant="simple">Username is required</p-message>
                    }
                </div>
                <div class="flex flex-col gap-2 w-full">
                    <label class="text-surface-900 dark:text-surface-0 font-medium leading-normal" for="password">
                        Password
                    </label>
                    <p-password
                        #password="ngModel"
                        [(ngModel)]="request.password"
                        [feedback]="false"
                        [invalid]="password.invalid && (password.touched || loginForm.submitted)"
                        [toggleMask]="true"
                        class="w-full"
                        inputId="password"
                        inputStyleClass="w-full px-3 py-2 shadow-sm rounded-lg"
                        name="password"
                        placeholder="Password"
                        required variant="filled"
                    ></p-password>
                    @if (password.invalid && (password.touched || loginForm.submitted)) {
                        <p-message severity="error" size="small" variant="simple">Password is required</p-message>
                    }
                </div>
                <button class="w-full mt-6 py-2 rounded-lg flex justify-center items-center gap-2" pButton>
                    <i class="pi pi-user text-base! leading-normal!" pButtonIcon></i>
                    <span pButtonLabel>Log in</span>
                </button>
            </div>
        </form>
    </div>
</div>
