<div class="flex flex-col gap-8">
  <div class="flex justify-between gap-8 w-full">
    <h2 class="text-4xl font-bold">Admin: Tag Management</h2>
    <div class="flex gap-8">
      <div class="flex">
        <p-iconfield class="ml-auto w-full" iconPosition="left">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input (input)="getTags()"
            [(ngModel)]="searchValue"
            pInputText
            placeholder="Search Tags..."
            type="text"/>
        </p-iconfield>
      </div>
      <p-button (click)="onTagCreateClick()" label="Create New Tag"/>
    </div>

  </div>

  <app-tag-table (deleteClick)="onTagDeleteClick($event)"
    (loadLazy)="loadTagsLazy($event)"
    (updateClick)="onTagUpdateClick($event)"
    [tags]="tags()"
    [totalRecords]="totalRecords()"
    class="w-full"/>

  <app-create-tag-form (create)="createTag($event)"
    (hide)="visibleAddForm.set(false)"
    [visible]="visibleAddForm()"/>
  <app-update-tag-form (create)="updateTag($event)"
    (hide)="visibleUpdateForm.set(false)"
    [updateTag]="currentTag()"
    [visible]="visibleUpdateForm()"/>
</div>
