<div class="mt-4 flex flex-col gap-6 p-0 sm:p-6">
    <div class="flex flex-col sm:flex-row items-center w-full gap-4">
        <h2 class="text-2xl sm:text-3xl font-bold">Admin: Tag Management</h2>
        <div class="flex flex-col sm:flex-row gap-8">
            <div class="flex">
                <p-iconfield iconPosition="left" class="ml-auto w-full">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText
                           type="text"
                           [(ngModel)]="searchValue"
                           (input)="getTags()"
                           placeholder="Search Tags..."/>
                </p-iconfield>
            </div>
            <p-button label="Create New Tag" (click)="onTagCreateClick()" />
        </div>

    </div>

    <app-tag-table class="w-full"
                   [tags]="tags()"
                   [totalRecords]="totalRecords()"
                   (loadLazy)="loadTagsLazy($event)"
                   (updateClick)="onTagUpdateClick($event)"
                   (deleteClick)="onTagDeleteClick($event)"/>

    <app-create-tag-form [visible]="visibleAddForm()"
                         (create)="createTag($event)"
                         (hide)="visibleAddForm.set(false)"/>
    <app-update-tag-form [updateTag]="currentTag()"
                         [visible]="visibleUpdateForm()"
                         (create)="updateTag($event)"
                         (hide)="visibleUpdateForm.set(false)"/>
</div>
