<div class="flex flex-row w-full justify-between gap-8 p-6">

    <div class="w-full max-w-[600px]">
        <h2 class="text-4xl mb-6"><b>Hobby Groups</b></h2>

        <div class="flex flex-col gap-6">
            @for (group of filteredHobbyGroups(); track group.id) {
                <app-hobby-group-card [hobbyGroupDto]="group"
                (groupUpdated)="onGroupUpdated($event)"
                 (groupDeleted)="onGroupDeleted($event)"/>
            }

            <div #scrollAnchor class="h-20 w-full flex justify-center items-center">
                @if (loading()) {
                    <i class="pi pi-spin pi-spinner text-3xl text-blue-500"></i>
                }
            </div>
        </div>
    </div>

    <div class="w-full flex flex-col sticky top-6 h-[calc(100vh-3rem)] overflow-hidden">
        <div class="flex flex-row w-full gap-2 mb-3 ">
            <p-iconfield class="w-full">
                <p-inputicon class="pi pi-search"/>
                <input type="text" pInputText placeholder="Search by name" [(ngModel)]="searchQuery"
                       (ngModelChange)="onSearch($event)" autocomplete="off" class="w-full" fluid/>
            </p-iconfield>

            <div class="w-full">
                <app-create-hobby-group (refreshHobbyGroup)="getHobbyGroups(0)"></app-create-hobby-group>
            </div>
        </div>

        <img class="w-full" src="https://placehold.co/700x1000?text=Placeholder+Map" alt="map image"/>
    </div>

</div>
