<div class="flex flex-col md:flex-row w-full justify-between gap-8 p-6">
    <div class="w-full max-w-600px order-2 md:order-1">
        <h2 class="text-2xl mb-6 md:text-4xl"><b>Hobby Groups</b></h2>
        <div class="flex flex-col gap-6">
            @for (group of filteredHobbyGroups(); track group.id) {
                <app-hobby-group-card [hobbyGroupDto]="group"
                                      (groupUpdated)="onGroupUpdated()"
                                      (groupDeleted)="onGroupDeleted()"/>
            }

            <div #scrollAnchor class="h-20 w-full flex justify-center items-center">
                @if (loading()) {
                    <i class="pi pi-spin pi-spinner text-3xl text-blue-500"></i>
                }
            </div>
        </div>
    </div>

    <div class="w-full flex flex-col md:sticky md:top-6 md:h-[calc(100vh-3rem)] md:overflow-hidden order-1 md:order-2">

        <div class="flex flex-row items-center w-full gap-2 mb-3">
            <p-iconfield class="flex-1">
                <p-inputicon class="pi pi-search"/>
                <input type="text" pInputText placeholder="Search by name" [(ngModel)]="searchQuery"
                       (ngModelChange)="onSearch($event)" autocomplete="off" class="w-full" fluid/>
            </p-iconfield>

            <div class="shrink-0">
                <app-create-hobby-group (refreshHobbyGroup)="getHobbyGroups(0)"></app-create-hobby-group>
            </div>
        </div>

        <img class="hidden md:block w-full rounded-xl"
             src="https://placehold.co/700x1000?text=Placeholder+Map" alt="map image"
        />
    </div>
    <p-button class="md:hidden fixed bottom-6 right-6" icon="pi pi-map" label="Show map"
              (click)="visible.set(true)"></p-button>
</div>

<p-dialog
    header="Map"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '95vw', maxWidth: '600px' }"
    [contentStyle]="{ padding: '0' }"
    dismissableMask
    class="md:hidden"
>
    <iframe
        [src]="mapEmbedUrl"
        width="100%"
        height="400"
        style="border: none; display: block;"
        title="Interactive Map"
        loading="lazy"
    ></iframe>
</p-dialog>
