<div class="flex flex-col md:flex-row w-full justify-between gap-6 p-0 sm:p-6 mt-4">
    <div class="w-full max-w-[600px] order-2 md:order-1">
        <h2 class="text-2xl whitespace-nowrap font-bold mb-6 md:text-3xl">Hobby Groups</h2>
        <div class="flex flex-col gap-6 mt-4">
            @if (uiState() === 'loading') {
                @for (i of [1,2,3,4]; track i) {
                    <app-hobby-group-card [loading]="true" [hobbyGroupDto]="{}"/>
                }
            }

            @else if (uiState() === 'data') {
                @for (group of filteredHobbyGroups(); track group.id) {
                    <app-hobby-group-card
                        [hobbyGroupDto]="group"
                        [loading]="false"
                        (groupDeleted)="onGroupDeleted()"
                        (groupUpdated)="onGroupUpdated()"/>
                }
            }

            @else {
                <app-empty-state-card/>
            }
            <div #scrollAnchor class="h-20 w-full flex justify-center items-center">

            </div>
        </div>
    </div>
    <div class="w-full flex flex-col md:sticky md:top-6 md:h-[calc(100vh-3rem)] md:overflow-hidden order-1 md:order-2">
        <div class="flex flex-col md:flex-row w-full md:w-auto grow md:justify-end gap-3 md:gap-2 mb-6">
            <div class="w-full md:w-auto">
                <app-searchbar (search)="onSearch($event)"></app-searchbar>
            </div>
            <div class="w-full md:w-auto">
                <app-create-hobby-group (refreshHobbyGroup)="getHobbyGroups(0)"></app-create-hobby-group>
            </div>
        </div>
        <img alt="map image"
            class="hidden md:block w-full rounded-xl" src="https://placehold.co/700x1000?text=Placeholder+Map"
        />
    </div>
    <p-button class="md:hidden fixed bottom-6 right-6 " label="Show map"></p-button>
</div>
