<p-button icon="pi pi-pencil" severity="secondary" (click)="openDialog()"></p-button>
<p-dialog
    header="Update Event"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '25rem' }"
    dismissableMask
    appendTo="body"
>
    <span class="p-text-secondary block mb-8">Update the details for this event</span>

    <form #eventForm="ngForm" (ngSubmit)="onSubmit(eventForm)" class="flex flex-col gap-4 w-full">
        <div class="flex flex-col gap-2">
            <div class="flex flex-col gap-1">
                <input
                    pInputText
                    type="text"
                    id="edit-title"
                    placeholder="Event Title"
                    name="title"
                    [(ngModel)]="editEvent.title"
                    #title="ngModel"
                    [invalid]="title.invalid && (title.touched || eventForm.submitted)"
                    required
                />
                @if (title.invalid && (title.touched || eventForm.submitted)) {
                    <p-message severity="error" size="small" variant="simple">Title is required.</p-message>
                }
            </div>

            <div class="flex flex-col gap-1">
                <p-datepicker
                    id="edit-startTime"
                    name="startTime"
                    placeholder="Start Time"
                    [(ngModel)]="editEvent.startTime"
                    [showTime]="true"
                    hourFormat="24"
                    appendTo="body"
                    styleClass="w-full"
                    #startTime="ngModel"
                    [invalid]="startTime.invalid && (startTime.touched || eventForm.submitted)"
                    required
                />
                @if (startTime.invalid && (startTime.touched || eventForm.submitted)) {
                    <p-message severity="error" size="small" variant="simple">Start Time is required.</p-message>
                }
            </div>

            <div class="flex flex-col gap-1">
                <p-datepicker
                    id="edit-endTime"
                    name="endTime"
                    placeholder="End Time"
                    [(ngModel)]="editEvent.endTime"
                    [showTime]="true"
                    hourFormat="24"
                    appendTo="body"
                    styleClass="w-full"
                    #endTime="ngModel"
                    [invalid]="endTime.invalid && (endTime.touched || eventForm.submitted)"
                    required
                />
                @if (endTime.invalid && (endTime.touched || eventForm.submitted)) {
                    <p-message severity="error" size="small" variant="simple">End Time is required.</p-message>
                }
            </div>

            <div class="flex flex-col gap-1">
                <input
                    pInputText
                    type="text"
                    id="edit-locationId"
                    placeholder="Location ID"
                    name="locationId"
                    [(ngModel)]="editEvent.locationId"
                    #locationId="ngModel"
                    [invalid]="locationId.invalid && (locationId.touched || eventForm.submitted)"
                    required
                />
                @if (locationId.invalid && (locationId.touched || eventForm.submitted)) {
                    <p-message severity="error" size="small" variant="simple">Location ID is required.</p-message>
                }
            </div>

            <div class="flex flex-col gap-1">
                <input
                    pInputText
                    type="text"
                    id="edit-hobbyGroupId"
                    placeholder="Hobby Group ID"
                    name="hobbyGroupId"
                    [(ngModel)]="editEvent.hobbyGroupId"
                    #hobbyGroupId="ngModel"
                    [invalid]="hobbyGroupId.invalid && (hobbyGroupId.touched || eventForm.submitted)"
                    required
                />
                @if (hobbyGroupId.invalid && (hobbyGroupId.touched || eventForm.submitted)) {
                    <p-message severity="error" size="small" variant="simple">Hobby Group ID is required.</p-message>
                }
            </div>
        </div>

        <p-button label="Submit" severity="secondary" type="submit" />
    </form>
</p-dialog>
